.main{
  background-color: #000;
}
.landing{
  background-image:url("Desktop - 1.png");
  background-repeat: no-repeat;
}
.landing h1{
  margin-bottom: 50px;
  text-align: center;
  font-weight: 900;
  color: rgb(23,186,220);
  text-shadow: 2px 1px rgb(210,86,156);
}
.landing p, table, h2{
  color: #fff;
}
.para1{
  margin-bottom: 50px;
  line-height: 2;
}
th{
  color: #000;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
}
td{
  margin: 8%;
  border-radius: 20px;
  padding: 10px;
  font-family: 900;
}
.para2{
  margin: 5%;
  padding: 5%;
  border-radius: 30px;
  background-color: blue;
  box-shadow: 4px 2px 3px rgb(145,92,174);
}
form{
  background-color: rgb(0,0,0, 0.3);
  width: 70%;
  padding: 5%;
  border-radius: 10px;
  border: rgb(144,80,161) solid;
}
label{
  color: #fff;
  font-weight: 900;
}
.akan{
  color: #fff;
  background-color: rgb(50,119,250);
  border-radius: 10px;
  padding: 5%;
}
